body{
    margin: 0;
    padding: 0;
}
.menu{
    position: fixed;
    background-color: black;
    opacity: 0.7;
    color: white;
    width: 100%;
    z-index: 99999;
}
.menu-item{
    display: inline-block;
    font-family: "Arial Narrow", serif;
    font-size: x-large;
    padding: 20px;
    position: relative;
}
.main{
    width: 100%;
    position: relative;
}
.title{
    position: absolute;
    top		: 250px;
    left: 50px;
    font-family: "Arial Narrow", serif;
    font-size: 50px;
    color: white;
} 